/* Asana.com RTL Interface by Sohail Lajevardi, V-1.2*/

body, .itemRowView-potToken {
	font-family: "Vazir", "IRAN Sans Light", "Yekan", "B Yekan+", "B Yekan", "yekan", "Iranian Sans", "IRAN Sans", "proxima-nova","Helvetica Neue",Arial,sans-serif !important;
}

.ancestry-container .ancestor-link, .full-width-header.full-width-header--expanded .header-name.read-only {
	font-family: "Vazir", "IRAN Sans Light", "Yekan", "B Yekan+", "B Yekan", "yekan", "Iranian Sans", "IRAN Sans", "proxima-nova","Helvetica Neue",Arial,sans-serif !important;
}

.itemRowView-potToken--pill, .detailsPaneProjectTokenizerView-token .luna1Token--pill, .taskTagsView-tokenArea .tokenView, .grid-row-selected:not(.focused) .itemRowView-potToken.potColor-background--NONE,
.react-mount-node .Token-label, .taskTags, .taskTags.is-focused,
.react-mount-node .Pill.Pill--small,
.react-mount-node .Tokenizer {
	font-family: "Vazir", "IRAN Sans Light", "Yekan", "B Yekan+", "B Yekan", "yekan", "Iranian Sans", "IRAN Sans", "proxima-nova","Helvetica Neue",Arial,sans-serif !important;
}

#grid .task-row, #grid .grid_pseudorow_no_prioritized,
.referenced-task-row-view, .blockStoryView-body .comment-text,
.details-pane-title .header-name,
.notification-header .notification-title,
.taskDetailsView-description .field-description,
.react-mount-node .SingleTaskTitleRow-taskName .autogrowTextarea-input, .react-mount-node .SingleTaskTitleRow-taskName .autogrowTextarea-shadow,
.react-mount-node .richText,
.message-view .subject-link,
.message-view .comment-text,
.message-composer-form .composer-input-wrap .field-description.subject,
.react-mount-node .TaskCommentComposer.is-collapsed .TaskCommentComposer-textEditor .ql-editor,
.react-mount-node .TaskCommentComposer,
.react-mount-node .TaskCommentComposer-textEditor,
.react-mount-node .textEditor-container.textEditor--dynamic.is-focused,
.react-mount-node .TaskDescription-textEditor .ql-editor,
.react-mount-node .simpleTextarea,
.react-mount-node .subtaskTaskRow,
.subtaskTaskRow--focused {
	font-family: "Vazir", "IRAN Sans Light", "Yekan", "B Yekan+", "B Yekan", "yekan", "Iranian Sans", "IRAN Sans", "proxima-nova","Helvetica Neue",Arial,sans-serif !important;
	direction: rtl;
	text-align: right;
}

.taskCommentsView-autogrowHypertext .placeholder-text, .taskCommentsView-placeholder {
	direction: rtl;
	text-align: right;
	padding: 5px 10px 0 0 !important;
}

.taskCommentsView-composer.focused:not(.override-focus-border),.taskCommentsView-composer:focus:not(.override-focus-border) {
	direction: rtl;
	text-align: right;
	padding: 5px 10px 0 0;
}

.autogrow-textarea .placeholder-text {
	text-align: right;
	padding: 5px 10px 0 0 !important;
}

.task-row-overlay {
  margin: 0 auto 0 0 !important;
}

#Flags.enable_no_flexbox_in_grid .grid-uncompact .grid-cell {
  padding-right: 0.1em;
}

.streamlined-quick-add-view .property-sheet-view .property:not(.projects).name .generic-input, .form-row .body .generic-input {
	direction: rtl;
	padding-right: 1em;
}

.streamlined-quick-add-view .property-sheet-view .property.assignee_and_projects .token-area.generic-input.projects, .streamlined-quick-add-view .property-sheet-view .property:not(.projects) .generic-input, .streamlined-quick-add-view .property-sheet-view .property:not(.projects) textarea:not(.token-input) {
	padding-right: 1em;
}

.streamlined-quick-add-view .property-sheet-view .property:not(.projects) .generic-input, .streamlined-quick-add-view .property-sheet-view .property:not(.projects) textarea:not(.token-input), .react-mount-node .textInput.textInput--large, .react-mount-node .textInput.textInput--invalid, .react-mount-node .textInput.textInput--invalid:hover, .react-mount-node .textInput.textInput--invalid:focus, .react-mount-node .newProjectDialogContent-descriptionInput,
.react-mount-node .taskName-input {
	direction: rtl;
}

.navigationDockItemView-label {
	line-height: 2;
}

.react-mount-node .taskName-input,
.react-mount-node .truncatedRichText {
    text-align: right;
}

.react-mount-node .truncatedRichText-richText {
    display: block !important;
}

.message-view.big-message {
	text-align: right;
	direction: rtl;
}

.messageView-byText {
	margin-right: 5px;
}

.react-mount-node .subtaskTaskRow-detailsButton {
	margin-right: -20px;
}
